<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="en" xmlns:th="http://www.thymeleaf.org"> <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, user-scalable=0">
    <meta name="description" content="Harold Kim - Yet another security enthusiast.">
    <meta name="keywords" content="stypr, Harold Kim">
    <meta name="google" content="notranslate">
    <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="favicon.ico"> -->
    <title>Resume 2</title>
    <meta property="og:title" content="stypr.">
    <meta property="og:url" content="https://stypr.com/">
    <!-- <meta property="og:image" content="https://stypr.com/logo.png"> -->
    <meta property="og:description" content="Harold Kim &mdash; Yet another security enthusiast.">
    <link href="../resume-templates/2/static/stypr.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]><script src="./static/html5.js"></script><![endif]-->
</head>
<body>
    <header>
        <div class="name"><span class="last" th:text="${userProfile.firstName}">Harold</span> <span class="first" th:text="${userProfile.lastName}">Kim</span></div>
        <div class="job" th:text="${userProfile.designation}">Backend Developer &#8226; Security Researcher</div>
        <div class="info">
            <!-- Icons by W3C Creation Lab -->
            <img src="../resume-templates/2/static/image/phone.png" alt="phone"><span>555-666-7777</span> &middot;
            <img src="../resume-templates/2/static/image/email.png" alt="email"> <a href="mailto:m%65&#64;h%61rold.kim?body=%28Use%20https%3A//keybase.io/stypr/key.asc%20for%20confidential%20messages.%29" th:text="${userProfile.email}">me@harold.kim</a>&thinsp;
            </div>
        <div class="neck"></div>
    </header>
    <div class="ram"></div>
    <div class="wrapper">
        <div class="container">
        	<div class = "summary">
        	<h1>Summary</h1>
        	<p class="description" th:text="${userProfile.summary}">
        		I am an outgoing and energetic (ask anybody) young professional, seeking a 
                career that fits my professional skills, personality, and murderous tendencies. 
                My squid-like head is a masterful problem solver and inspires fear in who gaze upon it. 
                I can bring world domination to your organization.
        	</p>
        	</div>
            <div class="experience">
                <h1>Experience</h1>
                <table th:each="job : ${userProfile.jobs}">
                    <tr>
                        <td class="title"><span th:text="${job.designation}">Designation</span>, <span class = "company" th:text="${job.company}">Company Name.</span></td>
                        <td class="duration"><span th:text="${job.formattedStartDate}">Start Date</span> - <span th:text="${job.currentJob} ? 'Present' : ${job.formattedEndDate}">PRESENT</span></td>
                    </tr>
                    <tr th:each="responsibility : ${job.responsibilities}">
                        <td colspan=2 class="description">
                            &raquo; <span th:text="${responsibility}"></span>
                        </td>
                    </tr>
                </table>
            </div>
            <hr>
            <div class="education">
                <h1>Education</h1>
                <table th:each="education : ${userProfile.educations}">
                    <!-- http://individual.utoronto.ca/stypr/ my university workspace. But there should be a way to get this URL from somewhere else. -->
                    <tr>
                        <td class="title"><span class = "college" th:text="${education.collegeName}">College Name.</span></td>
                        <td class="duration"><span th:text="${education.formattedStartDate}">Start Date</span> - <span th:text="${education.formattedEndDate}">End Date</span></td>
                    </tr>
                    <tr>
                        <td colspan=2 class="description">&raquo; <span th:text="${education.summary}">Education Description/Summary</span>
                        </td>
                    </tr>
                </table>
            </div>
            <hr>

            <div class="skills">
                <h1>Skills</h1>
                <table>
                    <tr th:each="skill : ${userProfile.skills}">
                        <td class="description" th:text="'&raquo; '+${skill}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    
    <script>
        var init_date = new Date(2016, 10, 14);
        var exit_date = new Date(2018,  7, 13);
        var total_duration = exit_date - init_date;
        function progress_check(){
            var jjam_percent = (((new Date() - init_date) / total_duration) * 100).toFixed(8);
            document.getElementById("progress-conscription").style.width = jjam_percent + '%';
            document.getElementById("progress-conscription").innerHTML = '&nbsp;' + jjam_percent + '%';
            setTimeout('progress_check()', 10);
        }
        if(new Date() >= exit_date) { document.getElementById("military").style.display = 'none'; }else{ progress_check(); }
    </script>
   </body>
</html>
