<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resume</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
	<h1 th:text="${userProfile.userName} + '\'s Edit Profile'">Profile</h1>
	
	<!-- action="#" because I don't want that by default action should work, rather Thymeleaf action should work.  -->
	<form action="#" th:action= "@{/edit}" th:object = "${userProfile}" method="post">
	<!-- userProfile acts as a container/object. While we come from GET /edit, userProfile will be populated
	from that request and will be displayed on form. When we make changes to these values, this object will contain those changes
	and will be used again when we POST /edit and act as payload-->
	<!-- The context of this form will be  userProfile. So its property can directly be accessed using *{property} rather than always using ${userProfile.property}-->
	<div class="container">
	
	<label class="form-label">Select the theme</label>
	<select class="form-select" th:field="*{theme}">
    <option th:each="i : ${#numbers.sequence(1, 2)}" th:value="${i}" th:text="'Theme '+${i}"></option>
	</select>
	
	<h3>Profile Summary:</h3>
		<div class="mb-3">
		  <label class="form-label">First Name:</label>
		  <input type="text" class="form-control" th:field="*{firstName}">
		</div>
		<div class="mb-3">
		  <label class="form-label">Last Name:</label>
		  <input type="text" class="form-control" th:field="*{lastName}">
		</div>
		<div class="mb-3">
		  <label class="form-label">Email:</label>
		  <input type="email" class="form-control" th:field="*{email}">
		</div>
		<div class="mb-3">
		  <label class="form-label">Phone No.:</label>
		  <input type="text" class="form-control" th:field="*{phone}">
		</div>
		<div class="mb-3">
		  <label class="form-label">Designation:</label>
		  <input type="text" class="form-control" th:field="*{designation}">
		</div>
		<div class="mb-3">
		  <label class="form-label">Summary:</label>
		  <textarea class="form-control" th:field="*{summary}"></textarea>
		</div>
		<br>
		<h3>Experience:</h3>
		<table>
		<thead>
			<tr>
				<th>Company Name</th>
				<th>Designation</th>
				<th>Start Date</th>
				<th>End Date</th>
				<th>Current Job?</th>
			</tr>
		</thead>
			<tr th:each= "job, status : *{jobs}">
				<td><input type="text" class="form-control" th:field="*{jobs[__${status.index}__].company}"></td>
				<td><input type="text" class="form-control" th:field="*{jobs[__${status.index}__].designation}"></td>
				<td><input type="date" class="form-control" th:field="*{jobs[__${status.index}__].startDate}"></td>
				<td><input type="date" class="form-control" th:field="*{jobs[__${status.index}__].endDate}"></td>
				<td><input type="checkbox" class="form-check-input" th:field="*{jobs[__${status.index}__].currentJob}"></td>
			</tr>
		</table>
		<br>
		<h3>Education:</h3>
		<table>
		<thead>
			<tr>
				<th>College Name</th>
				<th>Start Date</th>
				<th>End Date</th>
				<th>Summary</th>
			</tr>
		</thead>
			<tr th:each= "education, status : *{educations}">
				<td><input type="text" class="form-control" th:field="*{educations[__${status.index}__].collegeName}"></td>
				<td><input type="date" class="form-control" th:field="*{educations[__${status.index}__].startDate}"></td>
				<td><input type="date" class="form-control" th:field="*{educations[__${status.index}__].endDate}"></td>
				<!-- <td><input type="text" class="form-control" th:field="*{educations[__${status.index}__].summary}"></td> -->
				<td><textarea class="form-control" th:field="*{educations[__${status.index}__].summary}" rows="2"></textarea></td>
			</tr>
		</table>
		
		<br>
		<h3>Skills:</h3>
		<table>
			<tr th:each= "skill, status : *{skills}">
				<td><input type="text" class="form-control" th:field="*{skills[__${status.index}__]}"></td>
			</tr>
		</table>
		<br>
		
		<input type="submit">
	</div>
	
	</form>
  </body>
</html>